<mat-toolbar color="primary">
  <span routerLink="/tasks">Task FE</span>
  <span class="example-spacer"></span>
  <ng-template [ngIf]="currentUser">
    <button *ngIf="!isUser" mat-button routerLink="/tasks">Tasks</button>
    <button *ngIf="!isUser" mat-button routerLink="/new-task">Add Task</button>
    <button *ngIf="isAdmin" mat-button routerLink="/new-user">Add User</button>
    <button mat-button routerLink="/profile">Profile</button>
    <button (click)="logout()" mat-button>Logout</button>
  </ng-template>
  <ng-template [ngIf]="!currentUser">
    <button mat-button routerLink="/registration">Register</button>
    <button mat-button routerLink="/login">Login</button>
  </ng-template>


</mat-toolbar>